<!DOCTYPE html><html lang="en">
	<head>   <meta charset="utf-8" />   
	<title>Rating App</title>
	<form action="" method="post">
		<input type="radio" name="event_type" value="sms"> sms <br>
		<input type="radio" name="event_type" value="call"> call <br>
		<input type="radio" name="event_type" value="data"> data <br>
		<input type="text" name="event_quant"> <br>
		<input type="submit" value="submit" /> <br>
	</form>
	<a href="http://127.0.0.1:5000/events">events</a>
        <a href="http://127.0.0.1:5000/convert">Convert</a>
</body></html>
